.wrapper {
    margin-top: 2rem;
    padding: 4rem;
    width: 100vw;
    border-top: 5px solid #373636;
}



.card img {
    border: none;
    outline: none;
    border-radius: 0.25rem;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    min-height: 20rem;
    width: 15rem;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
}

.sliderParagraph {
    position: absolute;
    z-index: 10;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0%);
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradient {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.popularTitle{
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem ;
    font-weight: 400;
    text-shadow: 2px 2px 8px #7F8A9C;
    
}

Splide{
    margin: 2rem;
}