.actorPageContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1re, ;
    margin: 0.5rem 2rem;
    align-items: center;
    align-content: center;
}

.actorInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}

.actorInfo>button {
    border: solid 1px white;
    border-radius: 40px;
    color: white;
    padding: 5px 12px;
    background: none;

}

.actorImageContainer {
    width: 600px;
    height: 500px;
    position: relative;
}

.actorImageContainer>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;

}

.actorImage {
    border-radius: 8px;
}

.actorFilmographyList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* }776, 576, 992 */

@media (min-width: 1440px) {}

@media (max-width: 992px) {}

@media (max-width: 776px) {
    .actorPageContainer {
        grid-template-columns: 1fr;
    }




    .actorFilmographyList {
        flex-direction: column;
    }
}

@media (max-width: 576px) {}

@media (max-width: 376px) {}