.searchPageContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.searchResultItemm {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
}
.searchResultItemm > p {
    position: absolute;
    z-index: 5;
    color: white;
    bottom: 0;
    left: 40%;
    font-size: 1.2rem;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.468);
    padding: 5px;
    border-radius: 10px;
}
.searchResultImmg {
    position: absolute;
    width: 300px;
    height: 300px;
    object-fit: contain;
}